.contenedor {
  display: flex;
  flex-flow: column;
  background: #eeee;
  width: 100vw;
  height: 100vh;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.nav {
  flex: 1 6%;
  display: flex;
  flex-flow: row;
  background: white;
}

.navImg {
  flex: 1 5rem;
  display: flex;
  align-items: center;
}
.navFilter {
  flex: 1 60%;
  display: flex;
  flex-flow: row;
}
.separator1{
  flex: 1 40%;
}
.separator2{
  flex: 1 10% ;
}
.search{
  flex: 4  50%;
}
.navActions {
  flex: 1 20%;
}
.imgLogo{
    flex: 1;
    width: 3rem;
    height: 4rem;
}
.contenido {
  flex: 1 80%;
  display: flex;
  flex-flow: row;
  height: 80%;
}
.filtros{
  flex: 1 20%;
  display: flex;
  flex-flow: column;
  padding: 1rem;
  justify-content: start;
  margin: 0.5rem;
  margin-right: 0rem;
}
.labeInputs{
  font-weight: bold !important;
  font-size: medium;
}
.espacio{
  padding-bottom: 0.5rem;
}
.divProductos{
  background: white;
  width: 100%;
  height: 97.5%;
  flex: 1 80%;
  display: flex;
  flex-flow: column wrap-reverse;
  margin: 0.5rem;
}
.check{
  font-size: medium;
  font-weight: bold !important;
}
.footer {
  flex: 1 6%;
  background: #f8f9fa!important;
}
.contenedorProducto{
  flex: 1 100%;
  min-width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 0.5rem;
  max-height: fit-content;
  overflow-y: scroll;
  align-self: center;
}

.producto{
  flex: 0 18%;
  display: flex;
  width: 14rem;
  min-height: 18rem;
  margin: 0.5rem;
  flex-flow: column;
  text-align: center;
  justify-content: flex-end;
}
.itemProducto{
  flex: 1;
  max-width: 14rem;
  display: flex;
  flex-flow: column;
}

.badge{
  background: red;
}
.btn-filtro{
  width: 100%;
}
.imgProducto{
  width: 150px;
  height: 150px;
}